# created by virtualenv automatically
.venv/bin
# Archivos del entorno de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de entorno virtual
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de PyCharm
.idea/

.env
.env.example
